.nabvarContainer {
  background-color: blueviolet;
  background-clip: padding-box;
  display: flex;
  width: 100%;
  justify-content: space-between;
  min-height: 10vh;
  align-items: center;
}

.logoBrand {
  color: gold;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  margin-left: 10px;
}

.linkMenu {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-style: oblique;
  list-style: none;
  font-weight: bold;
  color: yellow;
}
